#acceuil.col-md-12.col-sm-12.col-xs-12
  #acceuil-back
#home-button.col-md-12.col-sm-12.col-xs-12.home-scroll-down
  %a.link-button.accordion-toggle{href:"#footer", "data-toggle" => "collapse", "data-parent" => "#home-button", "aria-expanded" => "false"}
  #footer.collapse.col-md-12.col-sm-12.col-xs-12
    .footer-contenaire
      .col-md-offset-1.col-md-2.ucd-info.col-sm-3.col-xs-12
        %h4
          Contact :

        = link_to root_path do
          = image_tag 'ucd-logo.png', class: 'img-responsive'
        %address
          = link_to "contact@ultimatecycledistributon.com", "mailto:contact@ultimatecycledistributon.com", class: "mail"
      .col-md-offset-2.col-md-7.parteners.col-sm-9.col-xs-12.block
        %h2
          Distributeur officiel pour la France des marques :
        .col-md-12.col-xs-12.col-sm-12.partenaires-bloc
          .col-md-4.col-xs-12.col-sm-4.block.surly
            = link_to 'http://surlybikes.com/', target: "_blank" do
              = image_tag 'surly_Logo.jpg', class: 'img-responsive'
          .col-md-4.col-xs-12.col-sm-4.block
            = link_to 'http://45nrth.com/', target: "_blank" do
              = image_tag '45Nrth-logo-main.jpg', class: 'img-responsive'
          .col-md-4.col-xs-12.col-sm-4.block
            = link_to 'http://www.problemsolversbike.com/', target: "_blank" do
              = image_tag 'problemsolvers.png', class: 'img-responsive'


