#acceuil.col-md-12.col-sm-12.col-xs-12
  .col-md-4.accueil-bloc.col-sm-6.col-xs-12.block
    .contact-form.block
      %h3.form-title
        Inscrivez votre entreprise ici pour vous tenir au courant de l'ouverture du site !
      = form_for @contact, class: 'form-group', method: :post, remote: true do |f|
        .form-group
          = f.text_field :name, class: 'form-control', placeholder: 'Nom de votre entreprise'
        .form-group
          = f.email_field :email, class: 'form-control', placeholder: 'Email'      
        .form-group
          = f.submit 'Envoyer', class: 'btn btn-default btn-block'
  .col-md-12.col-sm-12.col-xs-12.home-scroll-down
    #footer
      .footer-contenaire
        .col-md-offset-1.col-md-2.ucd-info.col-sm-3.col-xs-12
          %h2
            Contact

          = link_to root_path do
            = image_tag 'ucd-logo.png', class: 'img-responsive'
          %address
            %strong Ultimate Cycle Distribution
            %br
              AU TOUTON
              %br
                RUE PASCAL CYTRON
                %br
                  32810 PREIGNAN FRANCE
                  %br
                    %span.glyphicon.glyphicon-earphone
                    337 85 58 10 22
          
        .col-md-offset-2.col-md-7.parteners.col-sm-9.col-xs-12.block
          %h2
            Partenaires:
          .col-md-12.col-xs-12.col-sm-12.partenaires-bloc
            .col-md-4.col-xs-12.col-sm-4.block.surly
              = link_to 'http://surlybikes.com/', target: "_blank" do
                = image_tag 'surly_Logo.jpg', class: 'img-responsive'
            .col-md-4.col-xs-12.col-sm-4.block
              = link_to 'http://45nrth.com/', target: "_blank" do
                = image_tag '45Nrth-logo-main.jpg', class: 'img-responsive'
            .col-md-4.col-xs-12.col-sm-4.block
              = link_to 'http://www.problemsolversbike.com/', target: "_blank" do
                = image_tag 'problemsolvers.png', class: 'img-responsive'


