!!!5
%html
  %head
    %title Ultimate Cycle Distribution
    %base{ href: '/' }
    %meta{ name: 'viewport', content:'width=device-width, initial-scale=1' }
    %meta{ content: "SaqnDMk-Lf2tGWdQfoZFHmBQAW7uy0kQ1lXSN0YlTuY", name: "google-site-verification"}
    = stylesheet_link_tag 'application', media: 'all'
    = csrf_meta_tags
  %body
    #top.col-md-12.col-sm-12.col-xs-12
      .col-md-4.accueil-bloc.col-sm-12.col-xs-12.block
        #flash-msg
          - flash.each do |key, msg|
            = content_tag(:div, msg, class: "alert alert-#{key}")
        .contact-form.block
          %h3.form-title
            Pour être informé de l’ouverture du site,
            %br
              inscrivez vous à la newsletter !
          = form_for @contact, class: 'form-group', method: :post do |f|
            .form-group
              = f.email_field :email, class: 'form-control', placeholder: 'Email'
            .form-group
              = f.submit "S'inscrire", class: 'btn btn-default btn-block'
      .col-md-4.col-xs-12.col-sm-12.ucd-logo.block
        .img-responsive
          = link_to root_path do
            = image_tag 'ucd-logo.png'
      .col-md-offset-1.col-md-3.pdf-view.col-sm-12.col-xs-12.block
        = link_to "http://surlybikes.com//uploads/downloads/SURLY_2015_Catalog.pdf", class: "surly-link", target: "_blank" do
          %button.btn.btn-default.btn-block.btn-lg
            voir le catalogue 2015 de surly

    = yield


    = javascript_include_tag 'application'
